.DS_Store
MoviesViewer.xcodeproj/project.xcworkspace/contents.xcworkspacedata
MoviesViewer.xcodeproj/project.xcworkspace/xcuserdata/ilyakuznecov.xcuserdatad/UserInterfaceState.xcuserstate
MoviesViewer.xcodeproj/xcuserdata/ilyakuznecov.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MoviesViewer.xcodeproj/xcuserdata/ilyakuznecov.xcuserdatad/xcschemes/MoviesViewer.xcscheme
MoviesViewer.xcodeproj/xcuserdata/ilyakuznecov.xcuserdatad/xcschemes/xcschememanagement.plist
AMAppkit/AMAppkit.xcodeproj/xcuserdata/ilyakuznetsov.xcuserdatad/xcschemes/xcschememanagement.plist
AMDatabase/AMDatabase.xcodeproj/xcuserdata/ilyakuznetsov.xcuserdatad/xcschemes/xcschememanagement.plist
MoviesViewer.xcodeproj/project.xcworkspace/xcuserdata/ilyakuznetsov.xcuserdatad/UserInterfaceState.xcuserstate
MoviesViewer.xcodeproj/xcuserdata/ilyakuznetsov.xcuserdatad/xcschemes/xcschememanagement.plist
